body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b0f1a;
    color: white;
}

header {
    background: #10182b;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #00f5ff;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: #00f5ff;
}

section {
    padding: 80px 50px;
    text-align: center;
}

button {
    padding: 10px 20px;
    background: #00f5ff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #aaa;
}
